<ion-header>
  <ion-toolbar>
    <ion-title>
      First Tab
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <!-- Start Input -->
    <ion-item>
      <ion-input
        type="number"
        [(ngModel)]="numA"
        placeholder="First number">
      </ion-input>
    </ion-item>
    <ion-item>
      <ion-input
        type="number"
        [(ngModel)]="numB"
        placeholder="Second number">
      </ion-input>
    </ion-item>
    <!-- End Input -->
    <!-- Button to call function -->
    <ion-item>
      <ion-button
        (click)="add()">Addition
      </ion-button>
      <ion-button
        (click)="subtract()">Subtraction
      </ion-button>
      <ion-button
        (click)="multiply()">Multiplication
      </ion-button>
    </ion-item>
    <!-- End Button -->
    <!-- Display Output if there is output -->
    <ion-item *ngIf="total">
        <h1><b> {{ total }} </b></h1>
      </ion-item>
    <!-- End Display Output -->
  </ion-list>
</ion-content>
